<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" routerLink="/home">
        <img src="/assets/new_favicon.png" alt="Logo" height="32">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li id="home" class="nav-item active" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li id="dashboard" class="nav-item" routerLinkActive="active" *ngIf="this.logRest.isUser() && !this.logRest.isAdmin()">
            <a class="nav-link" routerLink="/dashboard-user">Dashboard</a>
          </li>
          <li id="dashboard" class="nav-item" routerLinkActive="active" *ngIf="this.logRest.isAdmin() && this.logRest.isUser()">
            <a class="nav-link" routerLink="/dashboard-admin">Dashboard</a>
          </li>
          <li id="corsi" class="nav-item" routerLinkActive="active" *ngIf="this.logRest.isUser() && !this.logRest.isAdmin()">
            <a class="nav-link" routerLink="/corsi-user">Corsi</a>
          </li>
          <li id="corsi" class="nav-item" routerLinkActive="active" *ngIf="this.logRest.isAdmin() && this.logRest.isUser()">
            <a class="nav-link" routerLink="/corsi-admin">Corsi</a>
          </li>
          <li id="candidati" class="nav-item" routerLinkActive="active" *ngIf="this.logRest.isAdmin()">
            <a class="nav-link" routerLink="/candidati">Candidati</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!this.logRest.isUser() && !this.logRest.isAdmin()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <icon-person></icon-person>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <button id="login1" class="dropdown-item" type="button" data-toggle="modal" data-target="#staticBackdrop">Log in</button>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="this.logRest.isUser() || this.logRest.isAdmin()">
            <li class="nav-item dropdown">
              <a id="home" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <icon-person></icon-person> {{checkRole()}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button id="logout" class="dropdown-item" type="button" (click)="onLogout($event)">Log out</button>
              </div>
            </li>
          </ul>
      </div>
    </nav>
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="staticBackdropLabel" class="modal-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Chiudi">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid': error}" id="username" name="username" [(ngModel)]="person.username"
                 placeholder="user o admin">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [ngClass]="{'is-invalid': error}" id="password" name="password" [(ngModel)]="person.password" placeholder="password">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
              Username o password non sono corretti.
              <button type="button" class="close" aria-label="Chiudi">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="annulla($event)">Annulla</button>
          <button id="login" type="button" class="btn btn-primary" (click)="doLogin($event)">Login</button>
        </div>
      </div>
    </div>
  </div>
</header>
