.back-g                     {background-color: #FF7F07;}
.log-button:hover           {background-color: #FF7F07; color: white; border-radius: 2px;}
.back-panna                 {background-color: #F0EFED;}

