<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/assets/new_favicon.png" alt="Logo" height="32">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" routerLinkActive="active bg-warning">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active bg-warning" *ngIf="this.logRest.isUser() && !this.logRest.isAdmin()">
            <a class="nav-link" routerLink="/corsi-user">Corsi</a>
          </li>
          <li class="nav-item" routerLinkActive="active bg-warning" *ngIf="this.logRest.isAdmin() && this.logRest.isUser()">
            <a class="nav-link" routerLink="/corsi-admin">Corsi</a>
          </li>
          <li class="nav-item" routerLinkActive="active bg-warning" *ngIf="this.logRest.isAdmin()">
            <a class="nav-link" routerLink="/candidati">Candidati</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!this.logRest.isUser() && !this.logRest.isAdmin()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <icon-person></icon-person>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" type="button" data-toggle="modal" data-target="#staticBackdrop">Log
                in</button>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="this.logRest.isUser() || this.logRest.isAdmin()">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <icon-person></icon-person> {{checkRole()}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button class="dropdown-item" type="button" (click)="onLogout($event)">Log out</button>
              </div>
            </li>
          </ul>

      </div>
    </nav>
  </header>
