<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/assets/new_favicon.png" alt="Logo" height="32">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="../home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item" *ngIf="(umanaRestService.isUser() && !umanaRestService.isAdmin())">
            <a class="nav-link" routerLink="../corsi-user" routerLinkActive="active">Corsi</a>
          </li>
          <li class="nav-item" *ngIf="(umanaRestService.isAdmin())">
            <a class="nav-link" routerLink="../corsi-admin" routerLinkActive="active">Corsi</a>
          </li>
          <li class="nav-item" *ngIf="(umanaRestService.isAdmin())">
            <!--DA COMPLETAREEEEEEEEEEEEEEEEEEEEEE-->
            <a class="nav-link" routerLink="" routerLinkActive="active">Candidati</a>
          </li>
        </ul>
        <!--NON LOGGATO-->
        <ul class="navbar-nav" *ngIf="(!umanaRestService.isLogged())">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <icon-person></icon-person>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" type="button" data-toggle="modal" data-target="#staticBackdrop">Log
                in</button>
            </div>
          </li>
        </ul>
        <!--LOGGATO-->
        <ul class="navbar-nav" *ngIf="(umanaRestService.isLogged())">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <icon-person></icon-person> user
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" type="button" (click)="doLogout($event)">Log
                out</button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
