<!--<p>Id: {{course.id}}</p>
<span>Title: </span> -->
<p id="titoletto">{{course.id}} - {{course.description}}</p>
<p> Il corso affronterà gli argomenti partendo da un'introduzione generale per arrivare ad approfondire ogni singolo
        aspetto. </p>
        <p id="istruzioni"  *ngIf="!umanaFormaRestService.isAdmin()">
        Per partecipare è necesssaria l'iscrizione</p>
        <p id="istruzioni" *ngIf="umanaFormaRestService.isAdmin()">
                Per vedere gli iscritti premere sul pulsante "Dettagli"</p>
<p><button (click)="doAction($event)" class="btn btn-primary"
                *ngIf="!umanaFormaRestService.isAdmin()">Iscriviti</button></p>
<p><button (click)="doActionDetail($event)" class="btn btn-primary"
                *ngIf="umanaFormaRestService.isAdmin()">Dettaglio</button></p>