<main>
  <div class="container">
    <h1>Umana Forma</h1>
    <p>Questa pagina è il punto di partenza per accedere alle informazioni relative a Umana Forma.</p>
    <p>E'possibile consultare le informazioni dei singoli corsi (User e Admin) e dei candidati (solo Admin).</p>
    <p>Dall'8 Giugno 2020 sono aperte le immatricolazioni ai corsi per l'anno accademico 2020/2021.</p>
    <p>Per iniziare la procedura di registrazione devi prima accedere cliccando sull'omino in testa alla pagina</p>
    <p>e accedere come user. Bastano 2 minuti e pochissimi click.</p>
    <br>
    <ul>Gruppo 3
      <li>Delerci Denis</li>
      <li>Messina Michele</li>
      <li>Pino Pietro</li>
    </ul>
  </div>
</main>
