<main>
    <div class="container">
        <h5>{{corso.id}}: {{corso.description}}</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae modi neque dolores odit cumque
            perferendis consequatur accusantium, ipsum labore consequuntur sit iste iusto explicabo obcaecati
            perspiciatis cum. Ad, tempore aut.</p>
        <form>
            <div class="form-group">
                <label for="first">Nome</label>
                <input type="text" class="form-control" id="first" name="first" [(ngModel)]="candidate.firstName"
                    placeholder="il tuo nome">
            </div>
            <div class="form-group">
                <label for="last">Cognome</label>
                <input type="text" class="form-control" id="last" name="last" [(ngModel)]="candidate.lastName"
                    placeholder="il tuo cognome">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="candidate.emailAddress"
                    placeholder="la tua email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Non la condivideremo con nessuno.</small>
            </div>
            <button type="button" class="btn btn-secondary" (click)="annulla($event)">Annulla</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="iscriviti($event)" routerLink="/corsi-grazie">Iscriviti</button>
        </form>
    </div>
</main>