main {
    font-family: 'Roboto', 'sans-serif';
    margin: 30px;
    display: block;
}

.container {
    width: 50%;
    float: left;
    margin-left: 100px;
}

h5 {
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-size: 30px;
}

form {
    width: 700px;
}

#img {
    float: right;
    width: 30%;
    margin-top: 100px;
}

.alert {
    width: 300px;
}

button {
    font-family: 'Balsamiq Sans';
}