<main>
    <div class="container">
        <div *ngIf="course!==undefined">
            <h5>{{ course.description }}</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus nesciunt odit quia sed temporibus minus architecto voluptate, ad, deleniti numquam cumque aliquam tempore similique accusamus reprehenderit magni nihil expedita dolor.</p>
        </div>
      <h4>Grazie per esserti iscritto.</h4>
      <p>Speriamo che il corso sia di tuo gradimento.</p>
    </div>
  </main>