<main>
    <div class="container">
      <h5>{{ titleCourse.titleCourse}}</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae modi neque dolores odit cumque
        perferendis consequatur accusantium, ipsum labore consequuntur sit iste iusto explicabo obcaecati
        perspiciatis cum. Ad, tempore aut.</p>
      <h4>Grazie per esserti iscritto.</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eos iste iusto ut vel voluptatum ea dignissimos
        nihil necessitatibus? Unde amet velit ratione illo ipsa obcaecati doloremque dolore aliquam nam?</p>
    </div>
  </main>