header  {
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 18px;
}

form {
    font-family:'Balsamiq Sans', sans-serif ;
}

#campi_obbligatori {
    font-size: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

#footer {
    font-size: 9px;
}