header  {
    font-family:Open Sans,Arial,sans-serif;
    font-size: 18px;
}

form {
    font-family:Open Sans,Arial,sans-serif;
}

#campi_obbligatori {
    font-size: 10px;
}

#logo {
    margin-bottom:0;
    max-height:30%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

#footer {
    font-size: 9px;
}