<main>
  <div class="container">
    <div id="text"><h1>Umana Forma</h1>
    <p id="titoletto">LA FORMAZIONE PRIMA DI TUTTO! </p>
      <p>Il nostro obiettivo è accompagnare le persone in un percorso di aggiornamento 
      e crescita continua che gli permetta di essere sempre un passo avanti ai tempi. 
    </p>
     <p id="accedi">
      Fai il Login con le tue credenziali per visualizzare i corsi aperti ed iscriviti.
      </p>
    </div>
    <div id="img">
      <img src="/assets/img3.png" alt="immagine" height="400px" width ="550px">
    </div>
  </div>
</main>