main {
    background-image:url("/assets/sfondo2.jpg");
    background-size:cover;
    height: 630px;
    padding-top: 50px;
}

h1 {
    font-family:Open Sans,Arial,sans-serif;
    font-weight: bold;
    color: #f14;
    font-size:60px;
}

.container {
    display: flex;
}

#text {
    margin-top: 15px;
    width: 60%;
    font-size: 20px;
    font-family: Open Sans,Arial,sans-serif;
}

#titoletto {
    font-size: 25px;
}

#accedi {
    padding-top: 30px;
    font-size: 14px;
}

#img {
    width: 40%;
}