<main>
    <div class="container">
      <h5>{{corso.id}}: {{corso.description}}</h5>
      <p>Il corso di Laurea si propone di formare una figura professionale che sia in grado di comprendere,
        progettare, realizzare e gestire sistemi informatici efficienti ed efficaci capaci di supportare le
        sfide della società moderna.

        Il corso è composto da discipline di base, caratterizzanti ed affini. La nuova strutturazione
        didattica è caratterizzata da una ottima preparazione di base in matematica e fisica — indispensabili
        strumenti per la figura dell’Ingegnere dell’informazione — e da una completa e rigorosa formazione
        sugli argomenti caratterizzanti della più moderna disciplina informatica, coadiuvate da attività
        pratiche e di laboratorio fondamentali per la maturazione dei concetti teorici.
        
        Lo studente del Corso di Ingegneria Informatica della Università degli Studi di Umana Forma avrà
        l’opportunità di comprendere gli argomenti fondamentali dell’Informatica attuale, quali le strutture
        dati, gli algoritmi, le basi di dati, i linguaggi di programmazione sia di base che avanzati, i
        calcolatori elettronici e le reti di calcolatori, per poi approfondire i concetti legati alle nuove
        sfide della cybersecurity, del machine learning e dell’intelligenza artificiale.

        La laurea in Ingegneria Informatica di classe ministeriale L-8 ha l’obiettivo di formare figure
        professionali orientate alla progettazione, implementazione e gestione dei sistemi di elaborazione
        delle informazioni. Le ultime stime sulla  percentuale dei laureati che hanno trovato lavoro entro
        un anno dalla laurea in Ingegneria Informatica dell’Università degli Studi di Umana Forma sono pari
        al 67%.
        
        La Laurea in Ingegneria Informatica consente l’accesso agli studi di secondo ciclo (laurea
        specialistica/magistrale) e a master universitari di primo livello.</p>
      <div class="btn-group-vertical" role="group" aria-label="Elenco dei candidati">
        <button type="button" class="active" *ngFor="let candidate of candidateList">{{candidate.firstName}} {{candidate.lastName}}</button>
      </div>
    </div>
  </main>
