<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Chiudi">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" [ngClass]="{'is-invalid': error}" [(ngModel)]="username" placeholder="user o admin">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [ngClass]="{'is-invalid': error}" [(ngModel)]="password" placeholder="password">
          </div>
          <div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
              Le credenziali non sono corrette.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" (click)="doLogin($event)">Login</button>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <h1>Umana Forma</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati tempore autem libero dolores culpa
      officiis, neque minima incidunt non a repellendus voluptates corrupti necessitatibus veritatis, amet vero
      beatae
      quasi!</p>
  </div>
</main>